# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
logs/
*.log

# IDE-specific files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# macOS-specific files
.DS_Store

